:root{
    --primary-color: #cd4236;
    --secondary-color: #f5f5f5;
    --three: #d2544a;
    --four: #6f8197;
    --five: #1c375b;
    --black: #000;
    --light: #111;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background-color: var(--secondary-color);
    overflow-x: hidden;
}

/*HOME*/
.home{
    background-image: url(images/ss.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.home img{
    height: 85%;
    width: 85%;
    border-left: var(--primary-color) 4px solid;
    margin-top: 3%;
}

/*ABOUT*/
.about{
    width: 100%;
    background-color: var(--secondary-color);
}

.about .box1{
    background-color: var(--three);
    padding: 5%;
}

.about .box1 h2{
    font-size: 30px;
    color: var(--five);
    font-family:'Poiret One', cursive;
}

.about .box1 p{
    font-size: 19px;
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
}

.about .box1 .icon{
    font-size: 45px;
    color: var(--five);
    padding: 3%;
}

.about .box2{
    background-color: var(--light);
    padding: 5%;
    border-bottom: var(--three) 15px solid;
    padding-bottom: 2%;
}

.about .box2 h2{
    font-size: 30px;
    color: var(--three);
    font-family:'Poiret One', cursive;
}

.about .box2 p{
    font-size: 19px;
    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
}

.about .box2 .icon{
    font-size: 45px;
    color: var(--three);
    padding: 3%;
}

.about .box3{
    background-color: var(--light);
    padding: 5%;
}

.about .box3 h2{
    font-size: 30px;
    color: var(--four);
    font-family:'Poiret One', cursive;
}

.about .box3 p{
    font-size: 19px;
    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
}

.about .box3 .icon{
    font-size: 45px;
    color: var(--four);
    padding: 3%;
}

