:root{
    --primary-color: #cd4236;
    --secondary-color: #f5f5f5;
    --three: #d2544a;
    --four: #6f8197;
    --five: #1c375b;
    --black: #000;
    --light: #111;
    --light-white: #c0c2c0;
    --whity: #e3e3e3;
}

.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
}

html{
    scroll-behavior:smooth;
}

body{
    background-color: var(--secondary-color);
    overflow-x: hidden;
}

/*NAVBAR*/
.navb {
	width:100%;
	position:fixed;
	top:0;
	z-index:999;
	padding: 1vw 2vw;
	transition: 0.6s;
}

.navb h1 {
	color: var(--color-three);
	font-size: 2vw;
	font-family: 'Poiret One', cursive;
	float:left;
	margin-left: 2vw;
	transition: 0.6s;
}

.navb .bar{
	padding-right: 3vw;
}

.disappear{
	top:-200;
}

.navb .bar a{
	float: right;
    display: block;
	color: var(--color-four);
	font-size: 1.1vw;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	padding: 0.5vw 1vw;
	margin-right: 0.5;
    position: relative;
    transition: 0.5s;
}

.navb a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--color-three);
    height: 2px;
    transition: all 0.6s;
}

.navb a:hover::after {
    width: 100%;
}

.navb .bar a:hover{
	color: var(--color-three);
}

.sidenav {
	height:100%;
	width:0%;
	position:fixed;
	z-index:500;
	top:0px;
	left:0px;
    padding-top: 4px;
	background-color:rgba(0,0,0,0.7);
	overflow-x:hidden;
	transition:0.5s;
	padding-top:10%;
}

.sidenav a{
	display:block;
	color:var(--color-four);
	padding: 6px 2px;
	width:80%;
	text-align:center;
	text-decoration:none;
	transition: all 0.5s;
	position:relative;
	font-size:30px;
	font-weight:bold;
	font-family:'Poiret One', cursive;
	text-transform:uppercase;
}

.sidenav a::after {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	margin:auto;
	width:0%;
	content:'.';
	color:transparent;
	background-color:var(--color-three);
	height:2px;
	transition: all 0.5s;
}

.sidenav a:hover::after {
	width:50%;
}

.sidenav a:hover {
	color:var(--color-three);
}

.sidenav .close {
	position:absolute;
	top:60px;
	right:35px;
	font-size:36px;
	width:10%;
}


@media screen and (max-height:450px) {
	.sidenav {padding-top:15px;}
	.sidenav a {font-size:18px;}
}

@media screen and (max-width:950px){
	.nav-big {
		display:none !important;
	}
	.nav-small {
	display: block!important;	
	}	
}

.nav-big {
	display:block;
}	

.nav-small{
	display:none;
}

.nav-small .icon{
	color:var(--color-three);
	font-size: 35px;
	padding:5px;
}


/*HOME*/
.home{
    background-image: url(images/Screenshot\ 2021-08-21\ at\ 01.07.27.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.home img{
    height: 85%;
    width: 85%;
    border-left: var(--primary-color) 6px solid;
    margin-top: 3%;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.7);
    border-radius: 1%;
}

/*ABOUT*/
.about{
    width: 100%;
    background-color: var(--secondary-color);
    padding-top: 5%;
    padding-bottom: 7%;
}

.about h1{
    color: var(--five);
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    padding-bottom: 2%;
}

/*BOX1*/
.about .box1{
    background-color: var(--three);
    padding: 6%;
	margin:0.5vw;
}

.about .box1 h2{
    font-size: 30px;
    color: var(--five);
    font-family:'Poiret One', cursive;
}

.about .box1 p{
    font-size: 19px;
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
}

.about .box1 .icon{
    font-size: 45px;
    color: var(--five);
    padding: 3%;
}

/*BOX2*/
.about .box2{
    background-color: var(--light);
    padding: 6%;
    border-bottom: var(--three) 25px solid;
	margin:0.5vw;
    padding-bottom: 10%;
}

.about .box2 h2{
    font-size: 30px;
    color: var(--three);
    font-family:'Poiret One', cursive;
}

.about .box2 p{
    font-size: 19px;
    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
}

.about .box2 .icon{
    font-size: 45px;
    color: var(--three);
    padding: 3%;
}

/*BOX3*/
.about .box3{
    background-color: var(--light);
    padding: 6%;
    padding-bottom: 42%;
	margin:0.5vw;
}

.about .box3 h2{
    font-size: 30px;
    color: var(--four);
    font-family:'Poiret One', cursive;
}

.about .box3 p{
    font-size: 19px;
    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
}

.about .box3 .icon{
    font-size: 45px;
    color: var(--four);
    padding: 3%;
}

/*BOX4*/
.about .box4{
    background-color: var(--four);
    padding: 6%;
    padding-bottom: 35%;
	margin:0.5vw;
}

.about .box4 h2{
    font-size: 30px;
    color: var(--secondary-color);
    font-family:'Poiret One', cursive;
}

.about .box4 p{
    font-size: 19px;
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
}

.about .box4 .icon{
    font-size: 45px;
    color: var(--secondary-color);
    padding: 3%;
}

/*EBOOKS*/
.book{
    background-image: url(images/meko.jpg);
    background-size: cover;
    background-position: top;
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    padding-top: 12%;
    padding-bottom: 5%;
}

.book h1{
    color: var(--primary-color);
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    padding-top: 20%;
}

.text .section-hr {
    height: 3px;
    width: 40%;
    background-color: var(--primary-color);
}

.text p{
    color: var(--five);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

/*INTERESTING*/
.int{
    background-color: var(--secondary-color);
    padding: 5%;
    padding-top: 7%;
}

/*BOX 1*/
.int .box1{
    background-color: var(--five);
    padding: 3%;
    margin: 2%;
}

.int .box1 .bod{
    border: var(--four) 2px solid;
    padding: 4%;
}

.int .box1 h2{
    color: var(--secondary-color);
    font-size: 35px;
    font-family:'Poiret One', cursive;
    text-align: center;
}

.int .box1 p{
    color: var(--light-white);
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 2%;
}

/*BOX 2*/
.int .box2{
    background-color: var(--whity);
    padding: 3%;
    margin: 2%;
}  

.int .box2 .bod{
    border: var(--four) 2px solid;
    padding: 9%;
}

.int .box2 h2{
    color: var(--five);
    font-size: 35px;
    font-family:'Poiret One', cursive;
    text-align: center;
}

.form h1{
    color: var(--five);
    font-size: 50px;
}

.int .box2 p{
    color: var(--black);
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 2%;
}

/*FORM*/
.form{
    background-image: url(images/booksss.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 7%;
}

.content {
    padding-top: 50px;
    text-align: center;
}

.comment_input, .comment{
    background-color:var(--secondary-color);
    margin: 20px 0px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

input, textarea {
    background-color: transparent;
    border: transparent solid 2px;
    border-bottom-color: var(--five);
    width: 80%;
    padding: 10px;
    text-align: center;
    transition: 0.25s;
}

input:focus, textarea:focus {
    border-bottom-color: rgb(100, 100, 100);
}

.btn{
    border: rgb(100, 100, 100) solid 2px;
    color: #000;
    background-color: transparent;
    border-radius: 30px;
    padding: 10px 20px;
    transition: 0.25s;
    width: auto;
}

.btn:hover{
    background-color: var(--five);
    color: #fff;
}

/*Footer*/
.footer{
    width: 100%;
	background-color: var(--whity);
	text-align: center;
	padding-bottom:6vh;
}


.footer h1{
	text-align: center;
	color: var(--primary-color);
    font-family: 'Poiret One', cursive;
    font-size: 50px;
    letter-spacing: 0.5vw;
    padding-top: 5%;
	text-decoration:none !important;
}

.footer h2{
    color: var(--five);
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 20px;
    padding-top: 0.5vw;
    text-align: center;
    letter-spacing: 0.4;
	text-decoration:none !important;
}

.footer p{
    color: var(--four);
    font-family: 'Hind Vadodara', sans-serif;
    letter-spacing: 0.4;
    font-size: 15px;
    text-align: center;
    padding-top: 0.3vw;
	text-decoration:none !important;
}