:root{
    --primary-color: #cd4236;
    --secondary-color: #f5f5f5;
    --three: #d2544a;
    --four: #6f8197;
    --five: #1c375b;
    --black: #000;
    --light: #111;
    --light-white: #c0c2c0;
    --whity: #e3e3e3;
}

.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background-color: var(--secondary-color);
    overflow-x: hidden;
}


/*HOME*/
.home{
    background-image: url(images/bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.home img{
    height: 85%;
    width: 85%;
    border-left: var(--primary-color) 6px solid;
    margin-top: 3%;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.7);
    border-radius: 1%;
}

/*ABOUT*/
.about{
    width: 100%;
    background-color: var(--secondary-color);
    padding-top: 5%;
    padding-bottom: 7%;
}

.about h1{
    color: var(--five);
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    padding-bottom: 2%;
}

/*BOX1*/
.about .box1{
    background-color: var(--three);
    padding: 6%;
}

.about .box1 h2{
    font-size: 30px;
    color: var(--five);
    font-family:'Poiret One', cursive;
}

.about .box1 p{
    font-size: 19px;
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
}

.about .box1 .icon{
    font-size: 45px;
    color: var(--five);
    padding: 3%;
}

/*BOX2*/
.about .box2{
    background-color: var(--light);
    padding: 6%;
    border-bottom: var(--three) 15px solid;
    padding-bottom: 2.1%;
}

.about .box2 h2{
    font-size: 30px;
    color: var(--three);
    font-family:'Poiret One', cursive;
}

.about .box2 p{
    font-size: 19px;
    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
}

.about .box2 .icon{
    font-size: 45px;
    color: var(--three);
    padding: 3%;
}

/*BOX3*/
.about .box3{
    background-color: var(--light);
    padding: 6%;
}

.about .box3 h2{
    font-size: 30px;
    color: var(--four);
    font-family:'Poiret One', cursive;
}

.about .box3 p{
    font-size: 19px;
    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
}

.about .box3 .icon{
    font-size: 45px;
    color: var(--four);
    padding: 3%;
}

/*BOX4*/
.about .box4{
    background-color: var(--four);
    padding: 6%;
}

.about .box4 h2{
    font-size: 30px;
    color: var(--secondary-color);
    font-family:'Poiret One', cursive;
}

.about .box4 p{
    font-size: 19px;
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
}

.about .box4 .icon{
    font-size: 45px;
    color: var(--secondary-color);
    padding: 3%;
}

/*EBOOKS*/
.book{
    background-image: url(images/meko.jpg);
    background-size: cover;
    background-position: top;
    height: 78%;
    width: 100vw;
    overflow-x: hidden;
    padding-top: 10%;
}

.book h1{
    color: var(--primary-color);
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    padding-top: 20%;
}

.text .section-hr {
    height: 3px;
    width: 40%;
    background-color: var(--primary-color);
}

.text p{
    color: var(--five);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

/*INTERESTING*/
.int{
    background-color: var(--secondary-color);
    padding: 5%;
    padding-top: 7%;
}

/*BOX 1*/
.int .box1{
    background-color: var(--five);
    padding: 3%;
    margin: 2%;
}

.int .box1 .bod{
    border: var(--four) 2px solid;
    padding: 4%;
}

.int .box1 h2{
    color: var(--secondary-color);
    font-size: 35px;
    font-family:'Poiret One', cursive;
    text-align: center;
}

.int .box1 p{
    color: var(--light-white);
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 2%;
}

/*BOX 2*/
.int .box2{
    background-color: var(--whity);
    padding: 3%;
    margin: 2%;
}  

.int .box2 .bod{
    border: var(--four) 2px solid;
    padding: 9%;
}

.int .box2 h2{
    color: var(--five);
    font-size: 35px;
    font-family:'Poiret One', cursive;
    text-align: center;
}

.int .box2 p{
    color: var(--black);
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 2%;
}