:root{
    --primary-color: #cd4236;
    --secondary-color: #f5f5f5;
    --three: #d2544a;
    --four: #6f8197;
    --five: #1c375b;
    --black: #000;
    --light: #111;
    --light-white: #c0c2c0;
    --whity: #e3e3e3;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
   background-image: url(images/smh.jpg);
   background-size: cover;
}

.board{
    background-color: var(--whity);   
    margin-top: 10%;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    width: 100%;
}

/*SIDENAV*/
.sidenav {
    height: 100%;
    width: 350px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 5%;
  }
  
  .sidenav a {
    padding:4%;
    text-decoration: none;
    font-size: 20px;
    color: var(--four);
    display: block;
    margin-right: 17%;
    margin-left: 17%;
    transition: 0.4s;
  }

  .icon{
    font-size: 20px;
    color: var(--four);
    padding: 3%;
  }
.logo{
      height: 30%;
      width: 50%;
  }
  
  
  .sidenav a:hover {
    background-color: rgba(210, 84, 74, 0.4);
    border-right: var(--three) 5px solid;
    border-radius: 10%;
  }

  .main {
    margin-left: 200px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/*DASHBOARD*/
.dash{
  padding: 5%;
}

.dash h1{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  padding-bottom: 1%;
  color: var(--five);
  margin-left: 3%;
}

/*1*/
.dash .subject1{
  background-color: var(--three);
  border-radius: 5%;
  padding: 2%;
}

.subject1 h1{
  color: var(--secondary-color);
  font-size: 23px;
  font-family:'Poiret One', cursive;
}

.subject1 p{
  color: var(--secondary-color);
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}

.subject1 .icon{
  font-size: 35px;
  color: var(--whity);
}

/*2*/
.dash .sub2{
  background-color: #5b5ab3;
  border-radius: 5%;
  padding: 2%;
}

.sub2 h1{
  color: var(--secondary-color);
  font-size: 23px;
  font-family:'Poiret One', cursive;
}

.sub2 p{
  color: var(--secondary-color);
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}

.sub2 .icon{
  font-size: 35px;
  color: var(--whity);
}

/*Assignments*/
.assign{
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 11%;
}

.assign h1{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  padding-bottom: 1%;
  color: var(--five);
  margin-left: 3%;
}

/*BOX 1*/
.box1{
  padding: 5%;
  background-color: #5b5ab3;
  text-align: center;
  border-radius: 5%;
}

.box1 h1{
  font-size: 23px;
  color: var(--secondary-color);
  font-family:'Poiret One', cursive;
}

.box1 h2{
  font-size: 20px;
  color: var(--secondary-color);
  font-family:'Poiret One', cursive;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2%;
}

.box1 p{
  font-size: 15px;
  color: var(--secondary-color);
  font-family: 'Open Sans', sans-serif;
}

/*Box2*/
.box2{
  padding: 5%;
  background-color: #9698d5;
  text-align: center;
  border-radius: 5%;
}

.box2 h1{
  font-size: 23px;
  color: var(--secondary-color);
  font-family:'Poiret One', cursive;
}

.box2 h2{
  font-size: 20px;
  color: var(--secondary-color);
  font-family:'Poiret One', cursive;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2%;
}

.box2 p{
  font-size: 15px;
  color: var(--secondary-color);
  font-family: 'Open Sans', sans-serif;
}

/*Box 3*/
.box3{
  padding: 5%;
  background-color: #ff808b;
  text-align: center;
  border-radius: 5%;
}

.box3 h1{
  font-size: 23px;
  color: var(--secondary-color);
  font-family:'Poiret One', cursive;
}

.box3 h2{
  font-size: 20px;
  color: var(--secondary-color);
  font-family:'Poiret One', cursive;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2%;
}

.box3 p{
  font-size: 15px;
  color: var(--secondary-color);
  font-family: 'Open Sans', sans-serif;
}

/*ASSESSMENTS*/
.assess{
  padding: 10%;
}

.assess p{
  color: var(--four);
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

/*STUDY*/
.study{
  padding: 5%;
}

.study h1{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  padding-bottom: 1%;
  color: var(--five);
  padding-top: 4%;
}

.study img{
  height: 200px;
  width: 150px;
  margin: 3%;
}

/**/
.meter {
  box-sizing: content-box;
  height: 20px; /* Can be anything */
  position: relative;
  margin: 60px 0 20px 0; /* Just for demo spacing */
  background: #555;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}
.meter > span:after,
.animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.orange > span {
  background-image: linear-gradient(#f1a165, #f36d0a);
}

.red > span {
  background-image: linear-gradient(#f0a3a3, #f42323);
}

.nostripes > span > span,
.nostripes > span::after {
  background-image: none;
}

#page-wrap {
  width: 490px;
  margin: 80px auto;
}

h1 {
  font-size: 42px;
  font-weight: 600;
  margin: 0 0 30px;
}
pre {
  background: #000;
  text-align: left;
  padding: 20px;
  margin: 0 auto 30px;
}
* {
  box-sizing: border-box;
}

/*WELCOME*/
.pink{
  padding: 1%;
  margin: 4%;
  background-color: rgba(255, 128, 139,0.5);
  border-radius: 5%;
}

.pink h1{
  color: var(--secondary-color);
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
}

.pink p{
  color: var(--secondary-color);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

/*1*/
.dabbe .box1{
  background-color: var(--three);
  border-radius: 5%;
  padding: 2%;
  margin: 7%;
}

.box1 h1{
  color: var(--secondary-color);
  font-size: 20px;
  font-family:'Poiret One', cursive;
}

.box11 p{
  color: var(--secondary-color);
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}

.box1 .icon{
  font-size: 35px;
  color: var(--whity);
}

/*2*/
.sub2{
  background-color: #5b5ab3;
  border-radius: 5%;
  padding: 2%;
  margin: 7%;
}

.sub2 h1{
  color: var(--secondary-color);
  font-size: 20px;
  font-family:'Poiret One', cursive;
  text-align: center;
}

.sub2 p{
  color: var(--secondary-color);
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
}

.sub2 .icon{
  font-size: 35px;
  color: var(--whity);
  text-align: center;
}